@media (max-width: 1400px) {
	h2 {
		font-size: 30px;
	}
	.btn-mail {
		position: relative;
		top: 0;
		left: 0;
	}
	.btn-position {
		position: relative;
		top: -25px;
		left: -330px;
	}
}
@media (max-width: 1128px) {
	h1 {
		position: relative;
		top: 0;
		left: 25px;
	}
	.watch-movie {
		position: relative;
		top: -60px;
		left: -15px;
	}
	.menu-list {
		display: none;
	}
	.mail-form {
		position: relative;
		top:  50px;
		left: 40px;
	}
	.btn-mail {
		position: relative;
		top: -85px;
		left: 500px;
	}
	.trip-text {
		position: relative;
		top: -75px;
		left: 0;
	}
	.bg-green {
		height: 540px;
		flex-direction: column;
	}
	h3 {
		max-width: 100%;
	}
	.safety-text {
		max-width: 40%;
		position: relative;
		top: 0;
		left: 300px;
	}
	.cs-text {
		max-width: 40%;
		border-top: solid 2px white;
		padding-top: 80px;
		position: relative;
		top: 40px;
		left: 300px;
	}
	.font-size-marta {
		font-size: 18px;
	}
	.btn-position {
		position: relative;
		top: -25px;
		left: -240px;
	}
	.footer-list {
		flex-direction: column;
	}
	.footer-list ul {
		display: flex;
		flex-flow: row wrap;
		width: 1000px;
	}
	.footer-list li {
		white-space: nowrap;
		width: 33%;
	}
	.flex-border-top {
		border-top: 1px solid #dee2e6;
		padding-top: 20px;
	}
	.copy-right-jp {
		padding-right: 350px;
	}
	.footer-copy-right {
		display: flex;
		padding-left: 200px;
	}
	.dot {
		display: none;
	}
	.text-2020 {
		padding-left: 350px;
	}
	.most-footer {
		flex-direction: column;
	}
	.most-text {
		margin-top: -15px;
		margin-left: 280px;
	}
}

@media (max-width: 750px) {
	video {
		display: none;
	}
	.bg-top {
		display: block;
	}
	h1 {
		font-size: 35px;
		white-space: nowrap;
		padding-bottom: 20px;
	}
	.top-header {
		position: relative;
		top: 360px;
		left: -20px;
	}
	.trip-text p, .trip-text a {
		color: black;
	}
	.form-control {
		border: solid 1px;
		width: 400px;
	}
	.btn-mail {
		position: relative;
		top: -85px;
		left: 400px;
	}
	.btn-hover-white a:hover,
	.btn-hover-none a:hover {
		color: black;
	}
	.watch-movie {
		padding-left: 20px;
		padding-bottom: 60px;
		white-space: nowrap;
	}
	.trip-manager {
		position: relative;
		top: -130px;
		left: 0;
	}
	main {
		padding-top: 200px;
	}
	h2 {
		font-size: 25px;
	}
	.need-work {
		flex-direction: column;
	}
	.col-4 {
		max-width: 100%;
		padding-bottom: 20px;
	}
	.at-home {
		flex-direction: column-reverse;
	}
	.at-home-img{
		width: 100%;
		height: 380px;
		padding-top: 20px;
	}
	.at-home-bg {
		width: 100%;
		height: 250px;
	}
	.at-home-text {
		max-width: 90%;
		position: relative;
		top: 50px;
		left: 40px;
	}
	.one-team {
		flex-direction: column;
	}
	.one-team-bg {
		width: 105%;
		height: 250px;
		margin-left: -20px;
	}
	.one-team-img {
		width: 100%;
		height: 400px;
		padding-top: 20px;
		margin-left: -20px;
	}
	.bg-green {
		height: 500px;
	}
	h3 {
		font-size: 25px;
	}
	.safety-text {
		max-width: 70%;
		position: relative;
		top: 10px;
		left: 120px;
	}
	.cs-text {
		max-width: 70%;
		padding-top: 60px;
		position: relative;
		top: 60px;
		left: 120px;
	}
	.marta {
		flex-direction: column;
	}
	.marta-img {
		width: 100%;
		height: 400px;
	}
	.marta-bg {
		width: 100%;
		height: 250px;
	}
	.font-size-marta {
		font-size: 15px;
	}
	.marta-text {
		max-width: 90%;
		position: relative;
		top: 50px;
		left: 30px;
	}
	.btn-position {
		position: relative;
		top: -25px;
		left: -75px;
	}
	.footer-list {
		text-align: left;
	}
	.footer-list ul {
		display: block;
	}
	.copy-right-jp {
		position: relative;
		top: 0;
		left: 15px;
	}
	.sns-icon {
		display: none;
	}
	.footer-copy-right {
		padding-top: 20px;
		position: relative;
		top: 0;
		left: -200px;
		white-space: nowrap;
	}
	.most-footer {
		position: relative;
		top: 0;
		left: -355px;
	}
	.most-text {
		position: relative;
		top: -20px;
		left: 50px;
		width: 100%;
	}
}